@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
  margin:0;
  padding: 0;
  
  background: rgb(253, 228, 115);
  font-family: 'hindi', cursive;
  font-size: 30px;

}

.btn{
  background: rgb(253, 228, 115);
  margin: 5px;
  font-size: 30px;
  padding: 5px 10px;
  border:none;
  border-radius: 10px;
}
.app-title{
  text-align: center;
  color: rgb(1, 2, 2);
  font-size: 70px;
 

}

.Input {
  font-size: 20px;
  padding:10px 20px;
  border-radius: 17px;
  border:none;
}

.container{
  margin: auto;
  display: flex;
  
  border-radius: 25px;
  background: rgb(255, 217, 0);
  width: 30%;
}
.del-btn {
  font-size: 15px;
  border-radius: 17px;
  border:none;
  background: rgb(255, 83, 83);
  padding:10px 20px;
}
ul li {
  align-items: flex-start;
}